/* .card Button{
    border: 1px solid transparent;
    border: none;
    border-radius: 50%;
    background-color: rgb(182, 53, 53);
} */
/* 
.btn-primary {
    border: none;
    --bs-btn-border-color: rgb(182, 53, 53) !important;
} */