@media (min-width:1400px) {
 /* ================gallery================ */
.gallery .imagebox .image .info{
    position: absolute;
    top: 63%;
}
/* ==============user============= */
.user .customer .cust img{
    top: -30%;
}
}