@media (max-width:576px) {
/* ============ header ============== */
header{
    display: none;
}

/* ========= homepage ============ */
.homepage .container-h{
    margin: 0px 10px;
}
.homepage .homepage-p{
    padding: 10px 0px;
}
.homepage .main .logo .hand {
    font-size: 15px;
    padding-left: 88px;
}
.homepage .main .logo h1{
    font-size: 20px;
    padding-top: 11px;
}
.homepage .main .nav{
    display: none;
}
.homepage .main .toglbtn{
    display: block;
}
.homepage .main .toglbtn .tbtn i{
    display: block;
}
/* ----------- homepage text & grid---------- */
.homepage .text{
    padding-top: 10px;
    margin: 0px 30px;
}
.homepage .text h3{
    padding-top: 50px;
    padding-bottom: 10px;
}
.homepage .text h1{
    font-size: 30px;
    padding-bottom: 0px;
}
.homepage .gridbox{
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 40px 0px;
    margin: 0px 30px;
}
/* ===============info section=========== */
.info .container-i{
    margin: 0px 30px;
}
.info .info-p{
    padding: 40px 0px;
}
.info .gridbox{
    grid-template-columns: repeat(1,1fr);
}
/* =============== mid-sec================== */
.mid-sec .flexbox{
    flex-direction: column;
}
.mid-sec .flexbox .left{
    padding: 40px 30px;
}
.mid-sec .flexbox .left h1{
    font-size: 25px;
    width: 50%;
    padding-top: 20px;
}
.mid-sec .flexbox .right{
    padding: 40px 30px;
}
/* ================= heroimg============== */
.heroimg .support{
    padding-top: 120px;
    padding-left: 30px ;
}
 .heroimg .support h1{
    padding-bottom: 5px;
}
.heroimg .support h3{
    font-size: 20px;
}
/* ==================== trust================== */
.trust .value-g{
    grid-template-columns: repeat(2,1fr);
}
.trust .container-t{
    margin: 0px 30px;
}
.trust .trust-p{
    padding: 40px 0px;
 }
 /* ===============about============== */
.about .container-a{
    margin: 0px 30px;
}
.about .about-p{
    padding: 40px 0px;
}
.about .flexbox{
    flex-direction: column;
}
.about .flexbox .text .grid{
    grid-template-columns: repeat(1, 1fr);
}
/* ===============hero-d============ */
.hero-d .donate{
    padding: 40px 30px;
}
/* ================gallery================ */
.gallery .container-g{
    margin: 0px 30px;
}
.gallery .gallery-p{
    padding: 40px 0px;
}
.gallery .imagebox{
    grid-template-columns: repeat(1,1fr);
}
.gallery .imagebox .image .info{
    position: static;
}
/* ===============hiring=============== */
.hiring .container-hr{
    margin: 0px 30px;
}
.hiring .hiring-p{
    padding: 40px 0px;
}
.hiring .talent{
    flex-direction: column;
}
.hiring .talent .left-t .text-t h1{
    width: 100%;
}
.hiring .talent .right-t{
    text-align: left;
}
/* ==============user============= */
.user .container-u{
    margin: 0px 30px;
}
.user .user-p{
    padding: 40px 0px;
}
.user .customer{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.user .customer .cust img{
    top: -15%;
}
.user .customer .cust3{
    margin-top: 50px;
}
.user .customer .cust .c-text p{
    padding: 0px 10px;
    padding-top: 50px;
    padding-bottom: 10px;
}
/* ==============footer============= */
footer .top-f .contact{
    grid-template-columns: repeat(1,1fr);
}
/* ----------------sub footer---------- */
footer .sub-footer .s-footer{
    grid-template-columns: repeat(1,1fr);
}
footer .sub-footer .s-footer .social{
    justify-self: center;
}
footer .sub-footer .s-footer .copy{
    padding-top: 10px;
    text-align: center;
}
/* =============== up button================= */
.upbtn button{
   display: none;
}
}