@media (min-width:1200px) {
    /* =============== mid-sec================== */
    .mid-sec .flexbox{
        flex-direction: row;
    }
    /* ================= heroimg============== */
    .heroimg .support{
        padding-top: 600px;
        padding-left: 80px;
    }
     .heroimg .support h1{
        padding-bottom: 20px;
    }
    /* ==================== trust================== */
    .trust .value-g{
        grid-template-columns: repeat(4,1fr);
    }
     /* ===============about============== */
    .about .flexbox{
        flex-direction: row;
    }
    /* ================gallery================ */
    .gallery .imagebox{
        grid-template-columns: repeat(3,1fr);
    }
    .gallery .imagebox .image .info{
        position: absolute;
        top: 45%;
    }
    /* ===============hiring=============== */
    .hiring .talent .left-t .text-t h1{
        width: 80%;
    }
    /* ==============user============= */
    .user .customer .cust img{
        top: -15%;
    }
    .user .customer .cust .c-text p{
        padding: 0px 50px;
        padding-top: 60px;
        padding-bottom: 30px;
    }
    }