@media (min-width:768px) {
    /* ============ header ============== */
    header{
        display: block;
    }
    header .main .contact{
        font-size: 10px;
        gap: 5px;
    }
    /* ========= homepage ============ */
    .homepage .container-h{
        margin: 0px 15px;
    }
    .homepage .homepage-p{
        padding: 50px 0px;
    }
    .homepage .main .logo .hand {
        font-size: 20px;
        padding-left: 108px;
    }
    .homepage .main .logo h1{
        font-size: 25px;
        padding-top: 15px;
    }
    /* ----------- homepage text & grid---------- */
    .homepage .text{
        padding-top: 0px;
        margin: 0px 40px;
    }
    .homepage .text h3{
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .homepage .text h1{
        font-size: 40px;
        width: 90%;
        padding-bottom: 0px;
    }
    .homepage .gridbox{
        margin: 0px 40px;
    }
    /* ===============info section=========== */
    .info .container-i{
        margin: 0px 40px;
    }
    /* =============== mid-sec================== */
    .mid-sec .flexbox .left{
        padding: 60px 40px;
    }
    .mid-sec .flexbox .left h1{
        font-size: 48px;
        width: 80%;
    }
    .mid-sec .flexbox .right{
        padding: 40px 40px;
    }
    /* ================= heroimg============== */
    .heroimg .support{
        padding-top: 250px;
        padding-left: 40px ;
    }
     .heroimg .support h1{
        padding-bottom: 10px;
    }
    /* ==================== trust================== */
    .trust .container-t{
        margin: 0px 40px;
    }
     /* ===============about============== */
    .about .container-a{
        margin: 0px 40px;
    }
    /* ===============hero-d============ */
    .hero-d .donate{
        padding: 60px 40px;
    }
    /* ================gallery================ */
    .gallery .container-g{
        margin: 0px 40px;
    }
    .gallery .imagebox{
        grid-template-columns: repeat(2,1fr);
    }
    .gallery .imagebox .image .info{
        position: absolute;
        top: 60%;
    }
    /* ==============user============= */
    .user .customer .cust img{
        top: -30%;
    }
    .user .customer .cust3{
        margin-top: 60px;
    }
    /* ==============footer============= */
    footer .top-f .contact{
        grid-template-columns: repeat(2,1fr);
    }
    }