/* ============= common css============== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* ===============top header============= */
header{
    position: absolute;
    top: 0;
    background-color: #00000075;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    width: 100%;
    z-index: 2;
}
header .main a{
    color: white;
    font-size: 15px;
}
header .main span{
    color: #03c1be;
    margin-right: 2px;   
}
header .main .contact label{
    color: white;
    font-size: 15px;
}
header .container{
    margin: 0px 20px;
}
header .header-p{
    padding: 15px 0px;
}
header .main{
    display: flex;
}
header .main .social{
    display: flex;
    gap: 10px;
    flex: 1;
}
header .main .contact{
    font-size: 15px;
    display: flex;
    gap: 20px;
    justify-content: end;
    flex: 3;   
}
header::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: gray;
    display: block;
}
header .social a:hover{
    color: #03c1be;
}
header .contact a:hover{
    color: #03c1be;
}
/* ============ HOME PAGE======== */
/* ----------- logo & navbar-------------- */
.homepage{
   
    background: url(../image/banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.homepage ::after{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.030) ;
    z-index: -1; 
}
.homepage .container-h{
    margin: 0px 20px;
}
.homepage .homepage-p{
    padding: 50px 0px;
}
.homepage .main {
    align-items: center;
    display: flex;
}
.homepage .main .logo{
    position: relative;
    flex: 1;
}
.homepage .main .logo .hand a{
    position: absolute;
    color: #03c1be; 
}
.homepage .main .logo span{
    color: #03c1be;
}
.homepage .main .logo h1{
    font-size: 30px;
    padding-top: 16px;
}
.homepage .main .logo h1 a{
    color: white;
}
.homepage .main .logo .hand{
    font-size: 20px;
    padding-left: 133px;
}
.homepage .main .nav{
    justify-items: end;
    flex: 3;
}
.homepage .main .nav ul{
    font-size: 12px;
    font-weight: 700;
    justify-content: end;
    display: flex;
    gap:20px;
}
.homepage .main .nav ul a{
    color: white;
}
.homepage .main .nav ul a:hover{
    color: #03c1be;
}
.homepage .main .toglbtn{
    flex: 0.5;
    display: none;
    justify-content: end;
    text-align: end;
    position: relative;
}
.homepage .main .toglbtn .tbtn i{
    display: none;
    justify-content: end;
    text-align: end;
    font-size: 25px;
    color: #03c1be;
    cursor: pointer;   
}
/* ----------- homepage text & grid---------- */
.homepage .text{
    color: white;
    padding-top: 50px;
    margin: 0px 180px;
}
.homepage .text h3{
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 40px;
}
.homepage .text h1{
    font-size: 50px;
    font-weight: 700;
    width: 70%;
    line-height: 1.5;
    padding-bottom: 40px;
}
.homepage .text .arrow-r{
    text-align: end;
    color: white;
}
.homepage .text button{
    color: white;
    background-color: #03c1be;
    height: 40px;
    width: 150px;
    border: 2px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    transition: 1s ease all;
}
.homepage .text button a{
    color: white;
}
.homepage .text button:hover{
    background-color: transparent;
    border: 2px solid white;
}
.homepage .gridbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    padding: 80px 0px;
    margin: 0px 180px;
}
.homepage .gridbox div{
    width: 100%;
    color: white;
}
.homepage .gridbox h3{
    padding: 15px 0px;
    font-size: 20px;
    transition: 0.5s ease all;
}
.homepage .gridbox p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: whitesmoke;
}
.homepage .gridbox div span{
    font-size: 30px;
    transition: 0.5s ease all;
}
.homepage .gridbox div:hover span{
    color: #03c1be;
}
.homepage .gridbox div:hover h3{
    color:#03c1be;
}
/* ===============info section=========== */
.info .container-i{
    margin: 0px 180px;
}
.info .info-p{
    padding: 80px 0px;
}
.info .gridbox{
    display:grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.info .gridbox .ways h1{
    font-size: 33px;
    width: 95%;
    color: #323b43;
}
.info .gridbox .txt span{
    font-size: 15px;
    text-align: left;
    color: #6e7d7c;
    line-height: 2;
}
/* =============== mid-sec================== */
.mid-sec .flexbox{
    display: flex;
}
.mid-sec .flexbox .left{
    flex: 1;
    background: url(../image/banner2.jpg);
    background-size: cover;
    z-index: 0;
    position: relative;
    padding: 100px 80px;
}
.mid-sec .flexbox .left::after{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.685) ;
    z-index: -1;  
}
.mid-sec .flexbox .left h1{
    color: white;
    font-size: 48px;
    width: 55%;
    line-height: 1.5;
    padding-top: 150px;
}
.mid-sec .flexbox .right{
    height: auto;
    max-width: 100%;
    background-color: #ecfffd;
    padding: 100px 80px;
    flex: 1;
}
.mid-sec .flexbox .right .right1 i{
    margin-top: 10px;
    color: #03c1be;
    margin-right: 30px;
    font-size: 30px;
}
.mid-sec .flexbox .right .right1 a{
    font-size: 20px;
    font-weight: 700;
    color: #000000db;
}
.mid-sec .flexbox .right .right1 a:hover{
    color: #03c1be;
}
.mid-sec .flexbox .right .right1 span{
    margin-left: 11px;
}
.mid-sec .flexbox .right .right1 .com{
    margin-left: 3px;
}
.mid-sec .flexbox .right .right1 p{
    margin-bottom: 25px;
    margin-left: 73px;
    font-size: 16px;
    color: #6e7d7c;
}
.mid-sec .flexbox .right .right1 p{
    margin-top: 15px;
}
/* ================= heroimg============== */
.heroimg{
    background: url(../image/banner3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.heroimg .support h1, h3{
    color: white;
}
.heroimg .support{
    height: auto;
    max-width: 100%;
    padding-top: 600px;
    padding-bottom: 80px;
    padding-left: 80px ;
}
.heroimg .support h1{
    font-size: 45px;
    padding-bottom:20px ;
}
.heroimg .support h3{
    font-size: 25px;
    font-weight: 100;
}
/* ==================== trust================== */
.trust{
    background-color: #03c1be;
}
.trust .container-t{
    margin: 0px 180px;
}
.trust .trust-p{
    padding: 80px 0px;
}
.trust .value-g{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4,1fr);
}
.trust .value-g .done h3{
    font-size: 19px;
    padding-top: 20px;
    color: #04776c;
    padding-bottom: 10px;
}
.trust .value-g .done h1{
    color: white;
    font-size: 32px;
}
.trust .value-g .value h1{
    color: #04776c;
    font-size: 50px;
    font-weight: 100;
}
.trust .value-g .value h1::after {
    margin-bottom: 15px;
    margin-top: 15px;
    content: "";
    height: 1px;
    width: 80%;
    background-color: #04766b9d;
    display: block;
}
.trust .value-g .value h2{
    font-size: 30px;
    color: white;
    font-weight: 100;
}
/* ===============about============== */
.about .container-a{
    margin: 0px 180px;
}
.about .about-p{
    padding: 80px 0px;
}
.about .flexbox{
    display: flex;
    gap: 40px;
}
.about .flexbox .text{
    text-align: left;
    flex: 2;
}
.about .flexbox .text h1{
    font-size: 45px;
    color: #323b43;
    padding-bottom: 50px;
}
.about .flexbox .text p{
    font-size: 15px;
    color: #6e7d7c;
    line-height: 2.5;
    padding-bottom: 50px;
}
.about .flexbox .text .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}
.about .flexbox .text .grid a{
    margin-left: 10px;
    color: #323b43;
    font-size: 18px;
    font-weight: 700;
}
.about .flexbox .text .grid i{
    font-size:22px;
    color:#03c1be;
}
.about .flexbox .text .grid .g-info span a{
    transition: 0.5s ease all;
}
.about .flexbox .text .grid .g-info:hover span a{ 
    color: #03c1be;
}
.about .flexbox .text .grid .btn{
    padding-top: 50px;
    display: flex;
}
.about .flexbox .text .grid .btn .btn1 a{
    color: white;
    font-size: 15px;
}
.about .flexbox .text .grid .btn .btn1 button{
    height: 50px;
    width: 150px;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: #03c1be;
    cursor: pointer;
    transition: 0.3s ease all;
}
.about .flexbox .text .grid .btn .btn1 button:hover{
    background-color: transparent;
    border: 2px solid #03c1be;
}
.about .flexbox .text .grid .btn .btn1:hover a{
    color: #03c1be;
}
.about .flexbox .text .grid .btn .btn2 a{
    color:#03c1be;
    font-size: 15px;
}
.about .flexbox .text .grid .btn .btn2 button{
    height: 50px;
    width: 150px;
    border:2px solid #03c1be;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}
.about .flexbox .img{
    flex: 1;
}
.about .flexbox .img img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 4px;
}
/* ===============hero-d============ */
.hero-d{
    background: url(../image/banner3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
} 
.hero-d ::after{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.2) ;
    z-index: -1;  
}
.hero-d .donate{
    padding: 80px 0px;
    text-align: center;
    margin: 0px auto;
    max-width: 700px;
}
.hero-d .donate h3{
    color: #03c1be;
    padding-bottom: 20px;
}
.hero-d .donate h1{
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
}
.hero-d .donate p{
    font-size: 18px;
    color: whitesmoke;
    line-height: 2;
    padding-bottom: 40px;
}
.hero-d .donate button{
    height: 50px;
    width: 170px;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: #03c1be;
    cursor: pointer;
    transition: 0.5s ease all;
}
.hero-d .donate button:hover{
    background-color: transparent;
    border: 2px solid white;
}
.hero-d .donate button a{
    font-size: 15px;
    color: white;
}

/* ================gallery================ */

.gallery .container-g{
    margin: 0px 180px;
}
.gallery .gallery-p{
    padding: 80px 0px;
}
.gallery .imagebox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.gallery .imagebox .image img{
    height: auto;
    max-width: 100%
}
.gallery .imagebox .image img:hover{
    transition: 0.3s ease all ;
    opacity: 0.9;
}
.gallery .imagebox .image{
    position: relative;
    margin-bottom: 50px;
}
.gallery .imagebox .image .info{
    position: absolute;
    z-index: 1;
    top: 63%;
}
.gallery .imagebox .image .info ul{
    background-color: white;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 3px;
    margin-bottom: 50px;
}
.gallery .imagebox .image .info ul li{
    font-size: 12px;
    display: inline-block;
    padding: 10px 10px;
}
.gallery .imagebox .image .info ul li a{
    font-size: 13px;
    font-weight: 500;
    color: #323b43;
}
.gallery .imagebox .image .info ul li a:hover{
    transition: 0.3s ease all;
    opacity: 0.7;
}
.gallery .imagebox .image .info ul li span i{
    margin-right: 3px;
    color: #03c1be;
}
.gallery .imagebox .image .title{
    margin-top: 45px;
}
.gallery .imagebox .image h4 a{
    font-size: 24px;
    color: #323b43;
    transition: 0.5s ease all;
}
.gallery .imagebox .image h4 a:hover{
    color:#03c1be;
}

/* ===============hiring=============== */
.hiring{
    background: url(../image/banner2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}
.hiring ::after{
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.110) ;
    z-index: -1;  
}
.hiring .container-hr{
    margin: 0px 180px;
}
.hiring .hiring-p{
    padding: 80px 0px;
}
.hiring .talent{
    display: flex;
    text-align: left;
}
.hiring .talent .left-t{
    display: flex;
    flex: 2;
}
.hiring .talent .left-t span{
    font-size: 70px;
    color: #03c1be;
    margin-right: 40px;
}
.hiring .talent .left-t .text-t h1{
    font-size: 45px;
    width: 80%;
    line-height: 1.1;
    color: white;
}
.hiring .talent .left-t .text-t h4{
    font-size: 22px;
    font-weight: 100;
    line-height: 3;
    letter-spacing: 2px;
    color: white;
}
.hiring .talent .right-t{
    margin-top: 60px;
    text-align: end;
    flex: 1;
}
.hiring .talent .right-t .join button{
    height: 50px;
    width: 150px;
    background-color: #03c1be;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease all;
}
.hiring .talent .right-t .join button:hover{
    background-color: transparent;
    border: 2px solid white;
}
.hiring .talent .right-t .join button a{
    font-size: 15px;
    font-weight: 600;
    color: white;
}
/* ==============user============= */
.user .container-u{
    margin: 0px 180px;
}
.user .user-p{
    padding: 80px 0px;
}
.user h3{
    text-align: center;
    font-size: 45px;
    color: #323b43;
    line-height: 1.5;
    padding-bottom: 100px;
}
.user h3 span{
    display: block;
    font-size: 20px;
    color: #03c1be;
}
.user .customer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 30px;
}
.user .customer .cust{
    position: relative;
    border: 2px solid #ecf1f1;
    border-radius: 3px;
    text-align: center;
}
.user .customer .cust:hover{
    border: 2px solid #03c1be;
}
.user .customer .cust img{
    position: absolute;
    height: auto;
    max-width: 30%;
    top: -30%;
    left: 35%;
    padding: 5px;
    background: white;
    border: 2px solid #ecf1f1;
    border-radius: 50%;
}
.user .customer .cust:hover img{
    border: 2px solid #03c1be;
}
.user .customer .cust .c-text p{
    font-size: 15px;
    color: #6e7d7c;
    text-align: center;
    line-height: 1.7;
    padding: 0px 50px;
    padding-top: 60px;
    padding-bottom: 30px;
}
.user .customer .cust .c-text h2{
    font-weight: 400;
    padding-bottom: 30px;
}
.user .customer .cust .c-text h2 a{
    color: #03c1be;
}
.user .customer .cust .c-text h2 a:hover{
    color: black;
}
/* ==============footer============= */
footer{
    background: #212121;
}
footer .top-f .container-tf{
    margin: 0px 15px;
}
footer .top-f .top-fp{
    padding: 80px 0px;
}
footer .top-f .contact{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
footer .top-f .contact h2{
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #4c49499c;
}
footer .top-f .contact .abt p{
    color: #9b9fa2;
}
footer .top-f .contact .quick .list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
footer .top-f .contact .quick .list ul li a{
    color: #9b9fa2;
}
footer .top-f .contact .quick .list ul li a:hover{
    color: white;
}
footer .top-f .contact .quick .list ul li{
    line-height: 2;
}

footer .top-f .contact .cont ul li i{
    color: white;
    margin-right: 10px;
    line-height: 2.8;
}
footer .top-f .contact .cont ul li a{
    color: #9b9fa2;
}
footer .top-f .contact .cont ul li span{
    color: #9b9fa2;
}
footer .contact .sub .email{
    display: grid;
    gap: 10px;
}
footer .contact .sub .email input{
    height: 50px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 4px;
}
footer .contact .sub .email button{
    height: 50px;
    background-color: #03c1be;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease all;
}
footer .contact .sub .email button:hover{
    background-color: #04776c ;
}
footer .contact .sub .email button a{
    font-size: 15px;
    font-weight: 500;
    color: white;
}
/* ----------------sub footer---------- */
footer .sub-footer{
    background: #1a1919;
    text-align: center;
}
footer .sub-footer .container-sf{
    margin: 0px 20px;
}
footer .sub-footer .sub-footer-p{
    padding: 15px 0px;
}
footer .sub-footer .s-footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);  
    text-align: center;
}

footer .sub-footer .s-footer .social ul{
    display: flex;
    gap: 30px;
    text-align: center;
}
footer .sub-footer .s-footer .social ul li a{
    font-size: 20px;
    color: white;
    text-align: center;
}
footer .sub-footer .s-footer .social ul li{
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: #212121;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s ease all;
}
footer .sub-footer .s-footer .social ul li:hover{
    background-color: #03c1be;
}
footer .sub-footer .s-footer .copy{
    color: #9b9fa2;
    text-align: end;
}
/* =============== up button================= */

.upbtn button{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 0;
    font-size: 20px;
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    color: #03c1be;
    width: 40px;
    height: 40px;
    background-color: #3e4241;
}

