@import url("https://fonts.googleapis.com/css?family=Rubik Glitch");
@import url("https://fonts.googleapis.com/css?family=Permanent Marker");
@import url("https://fonts.googleapis.com/css?family=Source Code Pro");
@import url("https://fonts.googleapis.com/css?family=Caveat");

* {
    margin: 0;
    padding: 0;
}


body {
    display: block;
}

.mainpage {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom left, rgba(18, 112, 225, 0.904), rgba(20, 170, 77, 0.986));
    /* background-color: lightsteelblue; */
}

.mainpage .content {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.mainpage .content .heading {
    font-family: Rubik Glitch;
    font-weight: 100;
    color: black;
}

.mainpage .content .inputData {
    display: flex;
    flex-direction: row;
}

.mainpage .content .inputData .inputType input {
    height: 30px;
    width: auto;
    border-radius: 15px;
    border: 2px solid black;
    font-size: large;
    padding-left: 8px;
}

.mainpage .content .inputData .bt1 {
    position: relative;
    left: -30px;
}

.mainpage .content .inputData button {
    color: black;
    background-color: white;
    border: transparent;
    --bs-btn-padding-y: unset;
    width: auto;
}

.mainpage .content .inputData .bt1 span {
    display: block;
    height: 26px;
    width: auto;
    margin-top: -13px;
    font-size: x-large;
}

.mainpage .pages {
    display: flex;
    padding: 3vh;
    gap: 5vw;
}

.pages ul {
    padding-left: unset;
}

.pages .text {
    display: flex;
}

.pages .text .text1 {
    position: relative;
    right: 3vw;
}

.mainpage .pages .page1 {
    width: 50%;
    height: 75vh;
    padding-top: 3vh;
    background-color: whitesmoke;
    overflow-y: auto;
}

.mainpage .pages .page2 {
    width: 50%;
    padding-top: 3vh;
    height: 75vh;
    background-color: whitesmoke;
    overflow-y: auto;
}

.pages .heading {
    /* background-color: aqua; */
    font-family: Permanent Marker;
    display: flex;
    width: 50%;
    margin: auto;
}

.pages .tick {
    display: flex;
    align-items: center;
    position: relative;
    left: -48px;
    gap: 37px;

}

.pages .page2 .icons {
    display: flex;
    align-items: center;
    position: relative;
    left: -54px;
    gap: 34px;
}

.pages .line {
    border: 2px solid black;
    opacity: var(--bs-btn-padding-y);
}

.pages .select {
    display: flex;
    justify-content: end;
    color: black;
    font-size: 20px;
    align-items: center;
    margin-right: 50px;
    object-fit: contain;
    font-family: Source Code Pro;
}

.pages .select input {
    height: 20px;
    aspect-ratio: 3/2;
}

.pages li {
    display: flex;
    font-family: Caveat;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;
    padding-left: 7rem;
}


.pages li input {
    height: 20px;
    aspect-ratio: 3/2;
}

.pages .btn1 {
    display: flex;
    justify-content: center;
}

.page2 .btn2 {
    display: flex;
    justify-content: center;
    gap: 2vw;
}