* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: grid;
    place-content: center;
    text-align: center;
    background-color: wheat;
    color: green;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    height: 6vw;
    /* width: 100vw; */
}
.nav-bar{
    display: grid;
    place-content: center;
    text-align: center;
    align-items: center;
    background-color: wheat;
    color: green;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    height: 6vw;
}
.container-fluid{
    display: flex;
    gap: 10px;
}
.content{
    flex: 0.5;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: wheat;
    color: green;
    border: 2px solid black;
    border-radius: 5px;
    /* margin: 10px; */
    height: 25vw;
}
.maincontent{
    flex: 1;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: wheat;
    color: green;
    border: 2px solid black;
    border-radius: 5px;
    height: 25vw;
}
.footer{
    display: grid;
    place-content: center;
    text-align: center;
    background-color: wheat;
    color: green;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    height: 6vw;
}
